<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--add name="CrmConnection" connectionString="Authentication Type=AD; Url=https://bigbarrel.hostedcrm.co.nz; Username=CRMAdmin@bigbarrel.hostedcrm.co.nz; Password=l@phr0a1g" /-->
    <!--add name="CrmConnection" connectionString="Authentication Type=AD; Url=https://bigbarrel.hostedcrm.co.nz; Username=clickd@bigbarrel.hostedcrm.co.nz; Password=KlT1UyMJ"/-->
    <!--add name="CrmConnection" connectionString="Authentication Type=AD; Url=https://bigbarreluat.hostedcrm.co.nz; Username=CRMAdmin@bigbarreluat.hostedcrm.co.nz; Password=l@phr0a1g"/-->
    <add name="CrmConnection" connectionString="Authentication Type=IFD; Url=https://bigbarreluat.hostedcrm.co.nz/bigbarreluat; Username=clickd@bigbarrel.hostedcrm.co.nz; Password=KlT1UyMJ"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.diagnostics>  
    <trace autoflush="true" />  
    <sources>  
      <source name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchName="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchType="System.Diagnostics.SourceSwitch">  
        <listeners>  
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />  
          <add name="fileListener" />  
        </listeners>  
      </source>  
      <source name="Microsoft.Xrm.Tooling.CrmConnectControl" switchName="Microsoft.Xrm.Tooling.CrmConnectControl" switchType="System.Diagnostics.SourceSwitch">  
        <listeners>  
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />  
          <add name="fileListener" />  
        </listeners>  
      </source>  
      <source name="CrmSvcUtil" switchName="CrmSvcUtil" switchType="System.Diagnostics.SourceSwitch">  
        <listeners>  
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />  
          <add name="fileListener" />  
        </listeners>  
      </source>  
    </sources>  
    <switches>  

      <!--Possible values for switches: Off, Error, Warning, Information, Verbose  
                        Verbose:      includes Error, Warning, Info, Trace levels  
                        Information:  includes Error, Warning, Info levels  
                        Warning:      includes Error, Warning levels  
                        Error:        includes Error level-->  

      <add name="Microsoft.Xrm.Tooling.CrmConnectControl" value="Off" />  
      <add name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" value="Error" />  
      <add name="CrmSvcUtil" value="Off" />  
    </switches>  

    <sharedListeners>  
      <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="CrmSvcUtil.log" />  
    </sharedListeners>  

  </system.diagnostics>  
  <runtime>  
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
      <dependentAssembly>  
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="8.0.0.0" />  
      </dependentAssembly>  
      <dependentAssembly>  
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="8.0.0.0" />  
      </dependentAssembly>  
      <dependentAssembly>  
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />  
      </dependentAssembly>  
       <dependentAssembly>  
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
          <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />  
       </dependentAssembly>  
    </assemblyBinding>  
  </runtime>  

</configuration>